<div #mapContainer id="map"></div>

<ion-header>
  <ion-toolbar>
    <ion-icon (click)="closeModal();" slot="end" size="large" name="close"></ion-icon>
    <ion-title *ngIf="category == 'eat'">Find Somewhere to Eat!</ion-title>
    <ion-title *ngIf="category == 'drink'">Find Somewhere to Drink!</ion-title>
    <ion-title *ngIf="category == 'see'">Find Something to See!</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content> 
  <app-location-info-card *ngFor="let location of final_results" [location]="location"></app-location-info-card>
  <!-- <ion-card *ngFor="let location of final_results">
    <ion-grid>
      <ion-row>
        <ion-col size=2>
           {{location.image}} IMAGE 
        </ion-col>
        
        <ion-col>
          <ion-row>
            <ion-col size=6>
              <ion-label>{{location.name}}</ion-label>
            </ion-col>
            <ion-col size=6>
               {{location.tag}} 
            </ion-col>    
          </ion-row>
            <ion-col>
               {{location.priceRange}} 
            </ion-col>
          <ion-row>
            <ion-col size=6>
               {{location.distanceFromUser}}
            </ion-col>
            <ion-col size=6>
              Rating
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

</ion-content>