<div #mapContainer id="map"></div>

<ion-header>
  <ion-toolbar>
    <ion-icon (click)="closeModal();" slot="end" size="large" name="close"></ion-icon>
    <ion-title *ngIf="category == 'eat'">Find Somewhere to Eat!</ion-title>
    <ion-title *ngIf="category == 'drink'">Find Somewhere to Drink!</ion-title>
    <ion-title *ngIf="category == 'see'">Find Something to See!</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-item *ngFor="let location of final_results">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-thumbnail >
            <img *ngIf="location.image != null" src="{{location.image}}">
            <img *ngIf="location.image == null" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
    
        </ion-col>
        <ion-col size="1">
  
        </ion-col>
        <ion-col size="7">
          <ion-label style="font-size: small">
            {{location.name}} - {{location.tag}}
          </ion-label>
          <ion-label style="font-size: small; color: grey">
            {{location.priceRange}}
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-button  (click)="addToSelectedLocations(location);" ><ion-icon name="add"></ion-icon></ion-button>
          <!-- <ion-button *ngIf="isInList(location) == true" (click)="removeFromSelectedLocations(location);" shape="round" color="danger"><ion-icon name="remove"></ion-icon></ion-button> -->
   
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-item>

</ion-content>