<ion-header [translucent]="true">
  <ion-toolbar>
    <app-walking-distance></app-walking-distance>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <app-eat-drink-see-toolbar ></app-eat-drink-see-toolbar>

  <ion-card>
    <ion-item>
      <ion-label style="color: gray">
        Selected Locations
      </ion-label>
      <ion-button  slot="end"size="small"   (click)="resetLocations()">
        reset locations
      </ion-button>
       
    </ion-item>
    
    <app-location-info-card *ngFor="let selectedLocation of selectedLocationsService.selectedLocations" [location]="selectedLocation"></app-location-info-card>
  </ion-card>
 
  <ion-grid>
    <ion-row >
      <ion-col style=" text-align:center;">
        <ion-button *ngIf="selectedLocationsService.selectedLocations.length > 0" routerLink="/tabs/tab3">Build Your Route!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
