<ion-header [translucent]="true">
  <ion-toolbar>
    <app-walking-distance></app-walking-distance>
    <ion-icon (click)="resetLocations()" slot="end" name="refresh"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <app-eat-drink-see-toolbar ></app-eat-drink-see-toolbar>

  <ion-card>
    <ion-card-header>
      Selected Locations
    </ion-card-header>
    <app-location-info-card *ngFor="let selectedLocation of selectedLocationsService.selectedLocations" [location]="selectedLocation"></app-location-info-card>
  </ion-card>
 
  <ion-grid>
    <ion-row >
      <ion-col style=" text-align:center;">
        <ion-button *ngIf="selectedLocationsService.selectedLocations.length > 0" routerLink="/tabs/tab3">Build Your Route!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
