<ion-header [translucent]="true">
  <ion-toolbar>
    <app-walking-distance></app-walking-distance>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <app-eat-drink-see-toolbar ></app-eat-drink-see-toolbar>

  <ion-card>
    <ion-card-header>
      Selected Locations
    </ion-card-header>
    <app-selected-location *ngFor="let selectedLocation of selectedLocationsService.selectedLocations" [selectedLocation]="selectedLocation"></app-selected-location>
  </ion-card>
 
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/tabs/tab3">submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
