<ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top"> <!-- List of buttons per integration -->

      <ion-fab-button color="light"> <!-- Uber Deeplink -->
        <a href="https://m.uber.com/ul/?client_id=VYJi6Pd9USt-5S8YmOd-z4snzh3s09vK">
          <img src="../../assets/images/uberIcon.png" />
          <!-- <image src="../../assets/images/uberIcon.png"></ion-icon> -->
        </a>
      </ion-fab-button>

      <ion-fab-button color="light"> <!-- Lyft Deeplink -->
        <a href="https://lyft.com/ride?id=lyft&partner=DvWshgk9Hw31">
          <img src="../../assets/images/lyftLogo.jpg" />
        </a>
      </ion-fab-button>


    </ion-fab-list>
</ion-fab>
