<!-- <ion-grid> -->

<!-- <ion-card> -->
  <ion-grid>
    <ion-row>
      <ion-col class="flexcontainer">
        <ion-fab-button (click)="openSelectLocationModal('eat');" color="primary">
          Eat
        </ion-fab-button>
      </ion-col>
      <ion-col class="flexcontainer">
        <ion-fab-button  (click)="openSelectLocationModal('drink');" color="success">
          Drink
        </ion-fab-button>
      </ion-col>
      <ion-col class="flexcontainer">
        <ion-fab-button  (click)="openSelectLocationModal('see');" color="warning">
          See
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- </ion-card> -->
<!-- </ion-grid> -->