<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-thumbnail >
          <img *ngIf="location.image != null" src="{{location.img}}">
          <img *ngIf="location.image == null" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
  
      </ion-col>
      <ion-col size="1">

      </ion-col>
      <ion-col size="9">
        <ion-label style="font-size: small">
          {{location.name}} - {{location.tag}}
        </ion-label>
        <ion-label style="font-size: small; color: grey">
          {{location.priceRange}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-label  class="ion-text-center">
      <ion-header>

        {{location.name}}
      </ion-header>
  </ion-label> -->
</ion-item>